/* styles for svg */

svg {
    max-width: 80%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cls-1,
.start-1,
.start-2,
.start-3,
.start-4,
.start-5 {
    fill: none;
    stroke: #f3cf04;
    stroke-width: 2px;
    fill-rule: evenodd;
}
.svg-container svg.animated path {
    stroke-width: 2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear;
}
svg .start-1,
svg .start-2,
svg .start-3,
svg .start-4,
svg .start-5 {
    animation-duration: 1s;
}
svg .cls-1 {
    animation-duration: 2s;
    animation-delay: 2.5s;
}
svg .start-2 {
    animation-delay: 1s;
}
svg .start-3 {
    animation-delay: 2s;
}
svg .start-4 {
    animation-delay: 3s;
}
svg .start-5 {
    animation-delay: 4.5s;
    animation-duration: 0.2s;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* common styles */
body {
    line-height: 1.5;
    font-family: "Roboto";
}
h2 {
    font-size: 30px;
}
.block-zero,
.block-first,
.block-second,
.block-third {
    background-size: cover;
    background-position: center center;
    padding: 50px;
    color: #ffffff;
}
.block-zero {
    color: black;
}
.block-first {
    background-image: url("../images/bg_01.jpg");
    overflow: hidden;
}
.block-second {
    background-image: url("../images/bg_02.jpg");
    padding: 0 50px;
}
.block-third {
    background-image: url("../images/bg_03.jpg");
}
.logo {
    padding: 0px;
}
.block-zero .side-right {
    max-width: 330px;
}
.block-first ul {
    list-style-type: none;
    padding: 0;
}
@media all and (min-width:600px) {
    .block-first .side-center {
        margin-bottom: -100px;
    }
}
.side-center img {
    width: 100%;
    height: auto;
    max-width: 390px;
}
.block-firs li {
    margin-bottom: 25px;
}
.block-first h2:before {
    display: inline-block;
    width: 100px;
    height: 50px;
    content: "";
    background-image: url("../images/img_02.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.side-left {
    text-align: left;
}

.side-title {
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
}
.block-second {
    color: #000000;
}
.text {
    max-width: 400px;
}
.block-second img {
    position: relative;
    top: 60px;
}
.block-second .block-wrap > div {
    padding-top: 50px;
}
.clearfix {
    clear: both;
}
.header-menu {
    padding: 0;
    list-style-type: none;
}




.navbar-default {
    background-color: transparent;
    padding: 15px;
}